<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mad Libs</title>
     <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
</head>
<body>
    <h1>Mad Libs</h1>
    <h2>But @Model.nouns! What light through yonder @Model.nouns breaks?
It is the East, and Juliet is the @Model.adjectives!
Arise, fair sun, and @Model.adverbs the envious moon,
Who is already sick and @Model.nouns with grief
That thou her @Model.exclamations art far more fair than she.
Be not her @Model.nouns, since she is envious.
Her vestal livery is but sick and green,
And none but fools do @Model.nouns it. Cast it off.
It is my lady; O, it is my buddy.
O that she knew she were!
She @Model.nouns, yet she says nothing. What of that?
Her @Model.adjectives discourses; I will answer it.
I am too @Model.nouns; `tis not to me she @Model.adjectives.

</h2>
    
</body>
</html>